body { 
    margin:0; 
    padding:0
}

a, p {
    font-family: 'Roboto Slab';
    font-size: 120%
}

#map { 
    position:absolute;
    top:0;
    bottom:0;
    width:80%;
    float:left
}

.dates { 
    float:right;
    width:20%;
    background: white
}

.dates ul {
    list-style: none
}

li {
    margin-top:10px;
}

.dates ul a {
    display: block
}

a:visited {color: black}

.active {
    margin-left: 20px;
}
